@import url('https://fonts.googleapis.com/css?family=Indie Flower');

body
{
    font-family: 'Indie Flower','HelveticaRegular','Helvetica', 'Arial';
    font-size: 12px;
    line-height: 18px;
    min-width: 740px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 1em;
    background-color: #405952;
}

header
{
    background-color: #FF974F;
    color: #9C9B7A;
    padding: 1em;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;

    border-top: 1px dashed #F54F29;
    border-bottom: 1px dashed #F54F29;
    box-shadow: inset 0 -1px 0 0 #F54F29, inset 0 1px 0 0 #F54F29, 0 1px 0 0 #F54F29, 0 -1px 0 0 #F54F29;
    margin-bottom: 1px;
}

footer
{
    background-color: #FF974F;
    color: #9C9B7A;
    padding: 0.2em;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

.container
{
    clear: both;
    position: absolute;
    width: 98%;
    height: 98%;

    display: -moz-flex;
    -moz-flex-direction: column;
    -moz-flex-wrap: nowrap;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-flex-wrap: nowrap;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.mainContent
{
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    /*background-color: #9C9B7A;*/
    background-color: #FFD393;
    color: #2F343B;
    padding: 1em;
}

.hideIt {
    display: none;
}

.headerLink
{
    margin-right: 1.5em;
    font-size: 1.2em;
}

.headerIcon
{
    width: 22px;
    height: 22px;
}

.headerLeftContent
{
    width:80%;
    float:left;
    left:2em;
}

.headerRightContent
{
    float:right;
}

.footerRightContent
{
    width:13%;
    float:right;
}

.ddbQuote
{
    color: #405952;
    font-size: 2.5em;
    width:80%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.ddbQuoteHashTags
{
    font-weight: bolder;
    font-size: 0.7em;
    color: #F54F29;
}

.ddbPic
{
    width:68%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    padding:1px;
    border:1px solid #405952;
    background-color:#405952;
}

#ddbPicOfTheDay {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity:1; }
}